<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Bebs Burgers</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/pop.js"></script>
</head>
<body>
    {{{body}}}
    <br>
    <br>
    <footer> Thanks for stopping by BebsBurgers</footer>
</body>
</html>