<h1>Welcome to Bebs Burgers</h1>

<div class="center-block col-12">
    <img src="/assets/img/burger.jpg" class="img-rounded" alt="burger_home" style="height: 5%">
</div>
<h2>Make your order</h2>
<div class="container">
    <input type="text" id="burg" name="name">
    <br>
    <button type="submit"  id="newOrder" class="submit" style="margin-top: 9px;">Order</button>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col col-5">
            <p>Ordered Burgers</p>
            <ul class="list-unstyled">
                {{#each burgers}}
                    {{#unless devoured}}
                    {{>burgers/burgerList}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col col-5 ml-5">
            <p>Eaten Burgers</p>
            <ul class="list-unstyled">
                {{#each burgers}}
                    {{#if devoured}}
                    {{>burgers/burgerList}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>